.container {
    background-color: aqua;
    text-align: center;
    font-weight: bold;

    .txt-date {
        font-size: 30px;
        margin-bottom: 8px;
    }

    .txt-day {
        font-size: 17px
    }
}